body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/mario1920-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.geral{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color:#4279BA;
    width: 350px;
    height: 450px;
    opacity: 0.9;
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in{
    0%{
        opacity:0;
    }

    100%{
        opacity:0.9;
    }
}

.p1{
    padding-top: 10px;
}

.titulo-voltar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titulo-voltar a{
    text-decoration: none;
    color: #FFF;
}

.voltar{
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}

.bg-voltar{
    width: 20px;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-voltar:hover{
    background-color: #000;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.titulo{
    font-size: 20;
    font-weight: bold;
    margin-bottom: 0;
}

.sub{
    margin: 0;
    padding: 0;
    background-color: #FFF;
    height: 2px;
    width: 47px;
}

.texto{
    display: flex;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0;
}

.corpo{
    display: flex;
    text-align: justify;
    flex-direction: column;
}

.rodape{
    display: flex;
    height: inherit;
    align-items: flex-end;
    font-size: 10px;
}